/*
.item-spacer {
    flex: 1 1 auto;
}
*/
.filters-height {
    font-size: 13px
}

.search-width {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
}

.mat-form-field-width {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
}
