<form (ngSubmit)="save_todo()" [formGroup]='submitNewTodoForm' autocomplete="off">
     
            <div class="row p-3 add-new-todo-dialog-header">
                <span class="col-md-6">Create Todo</span>

                <span class="col-md-6 right-align" (click)="cancel()">
                    <i class="material-icons" style="cursor: pointer;">clear</i>
                </span>
            </div>     
 
 
            <div class="row">

                <mat-form-field class="text-width mr-2 ml-2 mt-3">
                    <mat-label>Text</mat-label>
                    <input formControlName='keimeno' matInput #message maxlength="256" placeholder="Enter Text...">
                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="text-width" standalone="true">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                      <input matStartDate formControlName="start" placeholder="Start date">
                      <input matEndDate formControlName="end" placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                  
                    <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                    <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
                </mat-form-field>
            </div>

                
            <div class="row">
                <mat-form-field class="text-width mr-2 ml-2">
                    <mat-label>Status</mat-label>
                    <mat-select formControlName='status' [(value)]="selectedStatusOption"> <!--2-way data binding with the value that the user each time selects-->
                       <mat-option *ngFor="let option of status" [value]="option">{{option}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>



        <br>

        <div class="row flex-center">
            <button mat-raised-button color="primary" type="submit" [disabled]="!submitNewTodoForm.get('keimeno').value || !range.get('start').value || !range.get('end').value || !submitNewTodoForm.get('status').value">
                <mat-icon>save</mat-icon>
                <span>Αποθήκευση</span>
            </button>
      
        </div>
   
</form>
