<div class="table-responsive">
    <table matSort (matSortChange)="sortTodos($event)" class="table table-hover table-primary table-striped mat-elevation-z8">
        <thead>
        <tr>
            <th scope="col">
                <mat-checkbox [checked]="allComplete" [color]="selectAll.color" [indeterminate]="someComplete()" (change)="setAllSelected($event.checked)"></mat-checkbox>
                {{selectAll.todo}}
            </th>
            <th scope="col">Text</th>
            <th mat-sort-header="date_created" scope="col">Date Created</th>
            <th mat-sort-header="date_due" scope="col">Due Date</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody *ngIf="tableIsLoading">            
            <mat-spinner class="m-0"></mat-spinner>
        </tbody>
  
       <div class="full-window">      
        <tbody *ngIf="!tableIsLoading">
            
                
   
        <perfect-scrollbar class="todos-scrollbar" style="margin-left: 10px; overflow-x:hidden; position: relative; width: 100%; overflow-y: hidden; height:100vh">       
            <div *ngIf="sortedTodos.length == 0">No Todos found  </div>    
        <tr *ngFor="let todo of sortedTodos; let i = index;">
            <td> <mat-checkbox [(ngModel)]="selectAll.subSelects[i].completed" [color]="selectAll.subSelects[i].color" (ngModelChange)="updateAllComplete()"></mat-checkbox></td>
            <td>{{todo.keimeno}}</td>
            <td>{{todo.date_created}}</td>
            <td>{{todo.date_due}}</td>
            <td><mat-icon [ngStyle]="{'color': todo.status == 'Working' && (ConvertToInt(todo.date_due) > today || ConvertToInt(todo.date_due) == today) ? working :  ConvertToInt(todo.date_due) < today && (todo.status =='Working' || todo.status =='New') ? overdue : two_days_after_today == ConvertToInt(todo.date_due) ? to_be_expired : grey}">circle</mat-icon></td>
        </tr>
       </perfect-scrollbar>
        </tbody>     
      </div>
    </table>
     <div class="paginator-at-the-bottom-of-screen">        
        <button *ngIf="allComplete || someComplete()" 
            class="mt-4 delete-btn ml-4 mr-2" 
            mat-fab color="primary" (click)="delete()"><mat-icon>delete</mat-icon>
        </button>  
        <button *ngIf="allComplete || someComplete()" 
        class="mt-4 update-btn ml-4 mr-2" 
        mat-fab color="primary" (click)="edit()"><mat-icon>edit</mat-icon>
    </button>  

    <button
    style="float: right;"
        class="mt-4 refresh-btn ml-4 mr-2" 
        mat-fab color="primary" (click)="ngOnInit()"><mat-icon>refresh</mat-icon>
    </button>  

    <button
    style="float: right;"
        class="mt-4 filter-btn ml-4 mr-2" 
        mat-fab color="primary" (click)="ApplyFilters()"><mat-icon>filter_alt</mat-icon>
    </button>  
<!--
        <mat-paginator [length]="length"
               [pageSize]="pageSize"
               class="paginator-at-the-bottom-of-screen"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event"
               aria-label="Select page">
        </mat-paginator>
    -->

    </div>
</div>
