.mat-sort-header-container {
    align-items: center;
}

.mat-form-field {
    margin-right: 12px;
}

table {
    width: 100% !important;
}

.delete-btn {
    background-color: rgb(44, 56, 126);
}

.delete-btn:hover {
    background-color: tomato;
}

.update-btn {
    background-color: rgb(44, 56, 126);
}

.update-btn:hover {
    background-color: teal;
}

.filter-btn {
    background-color: rgb(44, 56, 126);
}

.filter-btn:hover {
    background-color:peru;
}
.refresh-btn {
    background-color: rgb(44, 56, 126);
}

.refresh-btn:hover {
    background-color:slateblue;
}

